.page {
  background-color: #fff;
  font-family: roboto, sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.display-block {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav .link, .auth-nav .link, .auth-nav .item, .auth-nav .mail-icon,
.auth-nav .phone-icon, .header-nav .current::after, .team .instagram-icon,
.team .twitter-icon,
.team .facebook-icon,
.team .linkedin-icon, .our-clients .link, .instagram-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon, .portfolio .button-portfolio, .portfolio-preview .item-text {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input, .form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label, .textarea-label-comment {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  color: #212121;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link > span {
  color: #2196f3;
}

.header-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.auth-nav > .item:hover,
.auth-nav > .item:focus {
  fill: #2196f3;
}

.auth-nav .mail-icon:hover, .auth-nav .mail-icon:focus,
.auth-nav .phone-icon:hover,
.auth-nav .phone-icon:focus {
  fill: inherit;
}

.header-nav .current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transform: translate(0px, 32px);
          transform: translate(0px, 32px);
  opacity: 1;
}

.auth-nav > .item + .item {
  margin-left: 30px;
}

main .text {
  color: #757575;
}

.envelope-icon-sprite,
.smartphone-icon-sprite {
  fill: currentColor;
  margin-right: 10px;
}

main {
  color: #212121;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .around-button-hero {
  padding-top: 46px;
}

.hero .overlay {
  max-width: 1600px;
  height: 600px;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 300px;
  min-width: 400px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: inherit;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.form-title {
  display: block;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form-list > .item:not(:last-child) {
  margin-bottom: 28px;
}

.form-list .item {
  height: 40px;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form-textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
}

.form-field, .form-field-textarea {
  position: relative;
  display: block;
}

.form-field:focus-within .icon {
  fill: #2196f3;
}

.form-field .icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  fill: inherit;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
}

.form-button-send {
  margin-top: 30px;
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-70%, -300%);
          transform: translate(-70%, -300%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #2196f3;
}

.form-field-textarea:focus-within > .textarea-label-comment,
.form-textarea:not(:placeholder-shown) + .textarea-label-comment {
  -webkit-transform: translate(0%, -230%);
          transform: translate(0%, -230%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #2196f3;
}

.textarea-label-comment {
  position: absolute;
  left: 16px;
  top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-agreement-text, .form-agreement-link {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-agreement-link {
  color: #2196f3;
  text-decoration: underline;
}

.form-agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-agreement-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-agreement-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-agreement-icon > .form-agreement-svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-agreement-input:checked + .form-agreement-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: #2196f3;
  border-radius: 4px;
  background-image: url(../images/modal/checkbox-selected.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #2196f3;
}

.form-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
}

.button-hero,
.form-button-send {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196f3;
  color: #fff;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
}

.our-features h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.our-features .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-features .item {
  display: block;
  width: calc((100% - 90px) / 4);
}

.our-features .item + .item {
  margin-left: 30px;
}

.our-features > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-features .interactive-pic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-features .title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-job > .container {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.production > .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.production > .item + .item {
  margin-left: 30px;
}

.production .title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.production .title-box {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-member-description {
  padding-top: 30px;
  padding-bottom: 24px;
  width: 270px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team .name {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team .item + .item {
  margin-left: 30px;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .profession {
  margin-top: 10px;
  margin-bottom: 16px;
  width: 270px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team .card-shadow {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .item:not(:first-child) {
  margin-left: 10px;
}

.team .instagram-icon,
.team .twitter-icon,
.team .facebook-icon,
.team .linkedin-icon {
  background-color: transparent;
  fill: #afb1b8;
}

.team .instagram-icon :hover,
.team .instagram-icon :focus,
.team .twitter-icon :hover,
.team .twitter-icon :focus,
.team .facebook-icon :hover,
.team .facebook-icon :focus,
.team .linkedin-icon :hover,
.team .linkedin-icon :focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-links .item {
  width: 44px;
  height: 44px;
}

.our-clients > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}

.our-clients .link :hover,
.our-clients .link :focus {
  fill: #2196f3;
}

.our-clients .item :hover,
.our-clients .item :focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 48px;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link-footer {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link-footer > span {
  color: #fff;
}

.address,
.social-links-title {
  color: #fff;
}

.footer .address {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer address {
  margin-top: 10px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer .title {
  margin-top: 0;
  margin-bottom: 20;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contacts > .item {
  margin-top: 9px;
}

.join-us .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-us .social-links li:not(:last-child) {
  margin-right: 11px;
}

.instagram-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.instagram-icon :hover,
.instagram-icon :focus,
.twitter-icon :hover,
.twitter-icon :focus,
.facebook-icon :hover,
.facebook-icon :focus,
.linkedin-icon :hover,
.linkedin-icon :focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form .title {
  display: block;
  margin-bottom: 20px;
}

.footer-form > label {
  width: 358px;
}

.subscription-input {
  background-color: transparent;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 22px;
  color: #fff;
}

.subscription-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 28px;
  min-width: 200px;
  margin-left: 12px;
  height: 50px;
  border: 0px solid var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  fill: #fff;
}

.portfolio-icon-send {
  margin-left: 10px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.authors {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio .filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 93px;
}

.portfolio .button-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  min-width: 70px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.portfolio .button-portfolio :hover,
.portfolio .button-portfolio :focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-button > .item + .item {
  margin-left: 8px;
}

.portfolio {
  color: #212121;
}

.portfolio-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 34px;
  padding-bottom: 94px;
}

.portfolio .description {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio .item-text {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio .caption {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.preview-pic {
  display: block;
}

.preview-pic-box {
  position: relative;
  overflow: hidden;
}

.portfolio-preview .item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}

.portfolio-preview .item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portfolio-preview a {
  display: block;
  text-decoration: none;
}

.portfolio-preview a:hover,
.portfolio-preview a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-preview .title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-preview .text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio-preview a:hover .item-text,
.portfolio-preview a:focus .item-text {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */