.team {
  background-color: $portfolio-body-nav-button-primary-color;

  .list {
    display: flex;
    justify-content: center;
  }

  &-member-description {
    padding-top: 30px;
    padding-bottom: 24px;

    width: 270px;

    background-color: $text-on-the-button-color;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .name {
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;

    @include font(500, 16px, 1.19);

    text-align: center;
  }

  .item + .item {
    margin-left: 30px;
  }

  .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .profession {
    margin-top: 10px;
    margin-bottom: 16px;
    width: 270px;

    color: $primary-text-color;

    @include font(400, 16px, 1.19);

    text-align: center;
  }

  .card-shadow {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }

  .item:not(:first-child) {
    margin-left: 10px;
  }

  .instagram-icon,
  .twitter-icon,
  .facebook-icon,
  .linkedin-icon {
    background-color: transparent;
    fill: $team-social-links-icon-primary-color;

    @extend %common-transition-settings;

    :hover,
    :focus {
      background-color: $accent-color;
      fill: $team-social-links-icon-hover-focus-color;
    }
  }
}

.social-links .item {
  width: 44px;
  height: 44px;
}
